/* CSS Style for Mapper */

/* Header Links*/
.header-right {
    float: right;
    padding-top: 20px;
}

.titleLogo {
    font-size: 60px;
    color: black;
}

/* Main Header */
.pageHeader {
    overflow: hidden;
    background-color: lightblue;
    padding: 20px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Header follows scroll */
.headerMove {
    position: fixed;
    top: 0;
    width: 100%
  }

/* Eliminates header lag on scroll */
.headerMove + .content {
    padding-top: 80px;
}
#map {
    height:400px;
    width:100%
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  .pac-target-input:not(:-webkit-autofill) {
    animation-name: endBrowserAutofill;
}  
