/* CSS Style for Mapper */
#root{
    background-color: white;
}
/* Header Links*/
.header-right {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

.leftUpperBox {
    background: rgba(204, 204, 204, 0.6);
    width: 75%;
    margin: auto;
    text-align: center;
}

#leftUpper {
    padding-top: 60px;
}

.leftUpperText{
    color: black;
}

.button:hover{
    background-color: black;
    color: white;
    border: black;
}

.del:hover{
    background-color: palevioletred !important;
    color: white !important;
}

.top:hover{
    background-color: black;
    color: white;
    border: black;
}

.input{
    padding: 10px;
}

.title {
    font-size: 25px;
    color:white;
    padding-left: 20px;
    margin: 10px;
}

.upper{
    width: fixed;
    background-repeat: no-repeat;
    background-position: -500px -200px; 
    z-index: -2;
    background-image: url("https://www.tripsavvy.com/thmb/_-smTM34WNa3lGFMdFTbIZEoi3M=/2844x1053/filters:fill(auto,1)/icefields-parkway-road-trip-641871108-c9c504640f8849c5bdef26c8eee4d1bb.jpg");
}

.userIcon {
    font-size: 30px;
    color: white;
    padding-bottom: 40px;
}

.text1 {
    color: #F78888;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/* Main Header */
.pageHeader {
    overflow: hidden;
    background-image: linear-gradient(to right, purple, navy);
    padding-top:10px;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.planButton:hover {
    background-color: black;
    color: white;
    border: black;
}

#map {
    height:600px;
    width:100%;
    border-radius: 20px;
}

#left {
    padding-left: 20px;
}

#right {
    padding-right: 20px;
}

.left {
    height: auto;
    min-height: 600px;
    border-color: linear-gradient(to right, purple, navy);
    border: 2px;
}

.top {
    font-size: 11px;
}

.userIcon {
    font-size: 24px;
    padding-bottom: 12px;
    margin-bottom: 8px;
}

#start-column {
    grid-auto-columns: max-content;
    border-bottom: 1px;
    border-color: darkgreen;
    z-index: 2;
    position: absolute;
}

#end-column {
    grid-auto-columns: max-content;
    border-bottom: 1px;
    border-color: darkgreen;
    z-index: 2;
    position: absolute;
}

.autocomplete-box {
    padding-left: 1px;
    background-color: white;
    max-height: 1.5%;
    text-align: left;
    cursor: pointer;
    width: auto;
    margin-bottom: 1px;
}

.attractionBoxes {
    border-color: linear-gradient(to right, purple, navy);
    border: 2px;
}

.metric-box {
    width: 48%;
    display: inline-block; 
    white-space: nowrap; 
    overflow-x: auto;
    height: 25%;
}
