/* CSS Style for Mapper */
#root{
    background-color: #235789;
}
/* Header Links*/
.header-right {
    float: right;
    padding-top: 20px;
}

.leftUpperBox {
    background: rgba(204, 204, 204, 0.8);
    border: 2px solid #235789;
}

.leftUpperText{
    color: black;
}

.button:hover{
    background-color: #90CCF4;
}

.del:hover{
    background-color: palevioletred !important;
    color: white !important;
}

.top:hover{
    background-color: #235789;
    color: white;
}

.input{
    padding: 10px;
}


.titleLogo {
    font-size: 60px;
    color: black;
}

.upper{
    background-image: url("https://www.tripsavvy.com/thmb/_-smTM34WNa3lGFMdFTbIZEoi3M=/2844x1053/filters:fill(auto,1)/icefields-parkway-road-trip-641871108-c9c504640f8849c5bdef26c8eee4d1bb.jpg");
    width: fixed;
    background-repeat: no-repeat;
    background-position: 0px -200px; 
    z-index: -2;
}

.userIcon {
    font-size: 30px;
    color: white;
    padding-bottom: 40px;
}

.text1 {
    color: #F78888;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/* Main Header */
.pageHeader {
    overflow: hidden;
    background-color: #5DA2D5;
    padding: 20px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    z-index: 1;
}

#map {
    height:600px;
    width:100%;
    border-radius: 20px;
}

#left {
    padding-left: 20px;
}

#right {
    padding-right: 20px;
}

.left {
    height: auto;
    min-height: 600px;
}
